body {
    padding: 0;
    text-align: center;
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }




  
  .game-intro {
    float: left;
    padding: 50px 10% 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #instructions {
    font-size: 24px;
    font-family: "Verdana";
    color: white;
    margin-bottom: 50px;
    width: 600px;
  }
  
  
  .logo-img {
    width: 600px;
    margin: 0px 0px 0px 0px;
  }
  
  .arrows-img {
    width: 200px;
  }
  
  body button {
    font-size: 30px;
    background-color: #d510d6;
    color: #fff;
    padding: 30px 50px 30px 50px;
    border: 0;
    box-shadow: 0;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  #game-board {
      float: left;
      padding: 100px 0px;
  }
  
  canvas {
    border: solid white;
  
  }

  @media (min-width: 1800px) {
    #body {
     display: flex;
     flex-direction: row;
     align-items: center;     
    }

    .game-intro {
    float: left;
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


    canvas{
        margin-top: 5%;
    }
 }